
<head>
<title>Tiny App</title>

<% if (username === undefined ) { %>
    <h4>You are not logged in.</h4>
<% } else { %>
<h4>You are logged in as: <%= username %></h4>
<form method="POST" action="/logout"><button type="Submit">LOG OUT</button></form>
<% } %>

<style type="text/css">
div { float: left; padding: 10px; width: 100%} ul li {list-style: none; float:left} 

}

</style>
</head>
