<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/_header %>
</head>
<body>


    
   <h1>Tiny App</h1>
<ul>
	
<li><h2>ShortURl :<%= shortURL %></h2></li>
 

 <li><form method="POST" action=<%="/urls/" +shortURL %>>
    <input type="text" name="newlongURL" placeholder="<%= longURL %>"><br /><button type="submit">UPDATE</button>
    
    </form></li>


</ul>
   
   

</body>